@charset "utf-8";
/**
* Description: Base style 
* Developers: Hao Jie
**/
/*reset */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form,ul,li,embed{margin:0;padding:0;}
table{border-collapse: collapse; border-spacing: 0;}
fieldset, img{border: 0;}

address, caption, cite, code, dfn, em, strong, th, var{font-style: normal; font-weight: normal;}
ol, ul{list-style: none;}
del, ins{text-decoration: none;}
caption, th{text-align: left;}
h1, h2, h3, h4, h5, h6{font-size: 100%; font-weight: normal;}
input, button, textarea, select{font-size: 100%;}
q:before, q:after{content: '';}
addr, acronym{border: 0; font-variant: normal;}
sub, sup{font-size: 75%; line-height: 0; position: relative;}
sub{top: -0.5em;}
sup{bottom: -0.25em;}
.of{overflow: hidden;}
.curp{cursor: pointer;}
/*clearfix */
.clearfix:after{content: "."; height: auto; clear: both; visibility: hidden;}
.clearfix{display: inline-block;}
* html .clearfix{height: 1%;}
.clearfix{display: block;}
.clear{clear:both;}
/*font*/
body{font:12px/1.5 \5b8b\4f53, sans-serif;height: 100%;}
.f10{font-size: 10px;}
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f24{font-size:24px;}
.f26{font-size:26px;}
.f28{font-size:28px;}
.f30{font-size:30px;}
.fb{font-weight: 700;}
.fn{font-weight: 400;}
.t2{text-indent: 2em;}
.lh20{line-height:20px;}
.lh25{line-height:25px;}
.lh30{line-height:30px;}
.lh35{line-height:35px;}
.lh40{line-height:40px;}
.lh45{line-height:45px;}
.lh50{line-height:50px;}
.lh55{line-height:55px;}
.lh60{line-height:60px;}
.no_unl{text-decoration: none;}

/*width*/
.w50{ width: 50px;}
.w100{ width: 100px;}
.w125 {width: 125px;}
.w130 {width: 130px;}
.w150 {width: 150px;}
.w160 {width: 160px;}
.w185 {width: 185px;}
.w200{ width: 200px;}
.w220{ width: 220px;}
.w250{ width: 280px;}
.w300{ width: 300px;}
.w320 {width: 320px;}
.w350{ width: 350px;}
.w400{ width: 400px;}
.w450{ width: 450px;}
.w500{ width: 500px;}
.w550{ width: 550px;}
.w600{ width: 600px;}
.w650{ width: 650px;}
.w700{ width: 700px;}
.w750{ width: 750px;}
.w800{ width: 800px;}
.w835 {width: 835px;}
.w850{ width: 850px;}
.w900{ width: 900px;}
.w950{ width: 950px;}
.w1000{ width: 1000px;}
.w_full { width: 100%; }

.h50 {height: 50px;}
.h60 {height: 60px;}
.h70 {height: 70px;}
.h80 {height: 80px;}
.h90 {height: 90px;}
.h100 {height: 100px;}

/*position */
.tl{text-align: left;}
.tc{text-align: center;}
.tr{text-align: right;}
.bc{margin-left: auto; margin-right: auto;}
.fl{float: left; display: inline;}
.fr{float: right; display: inline;}
.vm{vertical-align: middle;}
.vt{vertical-align: top;}
.pr{position: relative;}
.pa{position: absolute;}
.abs-right{position: absolute; right: 0;}
.abs-left{position: absolute; left: 0;}
.hidden{visibility: hidden;}
.none{display: none;}
.d-it{display: inline-table;}
/*margin padding */
.ma0{ margin: 0px auto;}
.ma30{margin:30px auto;}
.m5{margin: 5px;}
.m10{margin: 10px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.m25{margin: 25px;}
.m30{margin: 30px;}
.m35{margin: 35px;}
.m40{margin: 40px;}
.m45{margin: 45px;}
.m50{margin: 50px;}
.m55{margin: 55px;}
.m60{margin: 60px;}
.m65{margin: 65px;}
.m70{margin: 70px;}
.m75{margin: 75px;}
.m80{margin: 80px;}
.m85{margin: 85px;}
.m90{margin: 90px;}
.m95{margin: 95px;}
.m100{margin: 100px;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt25{margin-top: 25px;}
.mt30{margin-top: 30px;}
.mt35{margin-top: 35px;}
.mt40{margin-top: 40px;}
.mt45{margin-top: 45px;}
.mt50{margin-top: 50px;}
.mt55{margin-top: 55px;}
.mt60{margin-top: 60px;}
.mt65{margin-top: 65px;}
.mt70{margin-top: 70px;}
.mt75{margin-top: 75px;}
.mt80{margin-top: 80px;}
.mt85{margin-top: 85px;}
.mt90{margin-top: 90px;}
.mt95{margin-top: 95px;}
.mt100{margin-top: 100px;}
.mt120{margin-top: 120px;}
.mt-5{margin-top: -5px;}
.mt-10{margin-top: -10px;}
.mt-15{margin-top: -15px;}
.mt--20{margin-top: -20px;}
.mt-30{margin-top: -30px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr25{margin-right: 25px;}
.mr30{margin-right: 30px;}
.mr35{margin-right: 35px;}
.mr40{margin-right: 40px;}
.mr45{margin-right: 45px;}
.mr50{margin-right: 50px;}
.mr55{margin-right: 55px;}
.mr60{margin-right: 60px;}
.mr65{margin-right: 65px;}
.mr70{margin-right: 70px;}
.mr75{margin-right: 75px;}
.mr80{margin-right: 80px;}
.mr85{margin-right: 85px;}
.mr90{margin-right: 90px;}
.mr95{margin-right: 95px;}
.mr100{margin-right: 100px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb40{margin-bottom: 40px;}
.mb45{margin-bottom: 45px;}
.mb50{margin-bottom: 50px;}
.mb55{margin-bottom: 55px;}
.mb60{margin-bottom: 60px;}
.mb65{margin-bottom: 65px;}
.mb70{margin-bottom: 70px;}
.mb75{margin-bottom: 75px;}
.mb80{margin-bottom: 80px;}
.mb85{margin-bottom: 85px;}
.mb90{margin-bottom: 90px;}
.mb95{margin-bottom: 95px;}
.mb100{margin-bottom: 100px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.ml25{margin-left: 25px;}
.ml30{margin-left: 30px;}
.ml35{margin-left: 35px;}
.ml40{margin-left: 40px;}
.ml45{margin-left: 45px;}
.ml50{margin-left: 50px;}
.ml55{margin-left: 55px;}
.ml60{margin-left: 60px;}
.ml65{margin-left: 65px;}
.ml70{margin-left: 70px;}
.ml75{margin-left: 75px;}
.ml80{margin-left: 80px;}
.ml85{margin-left: 85px;}
.ml90{margin-left: 90px;}
.ml95{margin-left: 95px;}
.ml100{margin-left: 100px;}
.ml200{margin-left: 200px;}
.ml225{margin-left: 225px;}
.ml-50{margin-left: -50px;}
.ml-180{margin-left: -180px;}
.p5{padding: 5px;}
.p10{padding: 10px;}
.p15{padding: 15px;}
.p20{padding: 20px;}
.p25{padding: 25px;}
.p30{padding: 30px;}
.p35{padding: 35px;}
.p40{padding: 40px;}
.p45{padding: 45px;}
.p50{padding: 50px;}
.p50{padding: 50px;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt15{padding-top: 15px;}
.pt20{padding-top: 20px;}
.pt25{padding-top: 25px;}
.pt30{padding-top: 30px;}
.pt35{padding-top: 35px;}
.pt40{padding-top: 40px;}
.pt45{padding-top: 45px;}
.pt50{padding-top: 50px;}
.pt60{padding-top: 60px;}
.pt70{padding-top: 70px;}
.pt80{padding-top: 80px;}
.pt90{padding-top: 90px;}
.pt100{padding-top: 100px;}
.pt200{padding-top: 200px;}
.ptp8{padding-top: 4%;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr25{padding-right: 25px;}
.pr30{padding-right: 30px;}
.pr35{padding-right: 35px;}
.pr40{padding-right: 40px;}
.pr45{padding-right: 45px;}
.pr50{padding-right: 50px;}
.pr100{padding-right: 100px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb15{padding-bottom: 15px;}
.pb20{padding-bottom: 20px;}
.pb25{padding-bottom: 25px;}
.pb30{padding-bottom: 30px;}
.pb35{padding-bottom: 35px;}
.pb40{padding-bottom: 40px;}
.pb45{padding-bottom: 45px;}
.pb50{padding-bottom: 50px;}
.pb60{padding-bottom: 60px;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl25{padding-left: 25px;}
.pl30{padding-left: 30px;}
.pl35{padding-left: 35px;}
.pl40{padding-left: 40px;}
.pl45{padding-left: 45px;}
.pl50{padding-left: 50px;}
.pl60{padding-left: 60px;}
.pl70{padding-left: 70px;}
.pl80{padding-left: 80px;}
.pl100{padding-left: 100px;}
.fs14 {font-size: 14px;}
.fs16 {font-size: 16px;}
.fs18 {font-size: 18px;}
.fs20 {font-size: 20px;}
.fs22 {font-size: 22px;}
.fs24 {font-size: 24px;}
.fs26 {font-size: 26px;}
.fs28 {font-size: 28px;}
.fs30 {font-size: 30px;}

.bold {font-weight: bold;}

.blue {color: #14B1D4;}

.no-margin {vertical-align:bottom;}
